<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzy.pony.ss.mapper.SubjectSelectStatisticsMapper">
	<sql id="base_select">
		select t.id,t.config_id as configId,t.student_id as studentId,t.subject
		,t.create_time as createTime ,a.name as studentName,CONCAT(CONVERT(b.SEQ,char),'班') as className  
		from t_student_subject_select t 
		left join t_student a on t.STUDENT_ID = a.STUDENT_ID 
		left join t_school_class b on a.CLASS_ID = b.CLASS_ID
	</sql>

	<select id="findTotalSelectByConfig" resultType="int">
		select
		count(DISTINCT STUDENT_ID) from t_student_subject_select
		where
		CONFIG_ID = #{0}
	</select>

	<select id="findAllByConfig" resultType="com.zzy.pony.ss.vo.StudentSubjectSelectVo">
		<include refid="base_select"></include>
		where t.config_id = #{0}

	</select>


</mapper>