<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzy.pony.mapper.ExamResultRankMapper">
	<sql id="base_select">
		select 
		t.RESULT_ID resultId,        
		c.CLASS_ID classId,
        concat(g.name,c.seq,'班') className,
        b.STUDENT_ID  studentId,
        b.STUDENT_NO studentNo,
        b.name	   studentName,
        t.SCORE     score,
        d.SUBJECT_ID subjectId,
        d.name 		subjectName,
        a.EXAM_ID   examId,
        a.name       examName,
        e.YEAR_ID   yearId,
        concat(e.START_YEAR,'-',e.END_YEAR,'学年')      yearName,
        f.TERM_ID	termId,
        f.name       termName,
        g.GRADE_ID	gradeId,
        g.name      gradeName,
        h.TYPE_ID    typeId,
        h.NAME       typeName,
        j.name 		 teacherName,
        k.TEACHER_ID headTeacherId,
        k.name		 headTeacherName
 from t_exam_result t 
left join t_exam a on t.EXAM_ID=a.EXAM_ID
left join t_student b on t.STUDENT_ID=b.student_id 
left join t_school_class c on  b.CLASS_ID=c.CLASS_ID
left join t_subject d on t.SUBJECT_ID=d.SUBJECT_ID
left join t_school_year e on a.YEAR_ID=e.YEAR_ID
left join t_term f on a.TERM_ID=f.TERM_ID
left join t_grade g on c.GRADE_ID=g.GRADE_ID
left join t_exam_type h on a.TYPE_ID = h.TYPE_ID
left join t_teacher_subject i on a.YEAR_ID= i.YEAR_ID and a.TERM_ID=i.TERM_ID and b.CLASS_ID=i.CLASS_ID and t.SUBJECT_ID=i.SUBJECT_ID
left join t_teacher j on i.TEACHER_ID=j.TEACHER_ID
left join t_teacher k on c.TEACHER_ID=k.TEACHER_ID
	</sql>
	<select id="findByCondition" resultType="com.zzy.pony.vo.ExamResultRankVo">
		
		<include refid="base_select"></include>
		 where 1=1
		 <if test=" yearId != null and yearId != 0">
		 	and  e.YEAR_ID=#{yearId}
		 </if>
		 <if test=" termId != null and termId != 0">
		 	and f.TERM_ID=#{termId}
		 </if>
		 <if test=" gradeId != null and gradeId != 0">
		 	and g.GRADE_ID=#{gradeId}
		 </if>
		 <if test=" examTypeId != null and examTypeId != 0">
		 	and h.TYPE_ID=#{examTypeId}
		 </if>
		 <if test=" examId != null and examId != 0">
		 	and a.EXAM_ID =#{examId}
		 </if>	
		 <if test=" classId != null and classId != 0">
		 	and c.CLASS_ID=#{classId}
		 </if>
		 <if test=" studentId != null and studentId != 0">
		 	and b.student_id =#{studentId}
		 </if>
		 <if test=" subjectId != null and subjectId != 0">
		 	and d.SUBJECT_ID =#{subjectId}
		 </if>		 		    
		 <if test="schoolClasses != null">
		 	and  c.CLASS_ID in  
     		<foreach item="item" index="index" collection="schoolClasses" open="(" separator="," close=")">  
     		 #{item}  
     		</foreach> 
		 </if>
		 <if test="subjects != null">
		 	and  d.SUBJECT_ID in  
     		<foreach item="item" index="index" collection="subjects" open="(" separator="," close=")">  
     		 #{item}  
     		</foreach> 
		 </if> 
		 <if test="examTypeIds != null">
		 	and  h.TYPE_ID in  
     		<foreach item="item" index="index" collection="examTypeIds" open="(" separator="," close=")">  
     		 #{item}  
     		</foreach> 
		 </if>
		 order by e.YEAR_ID,f.TERM_ID,g.GRADE_ID,c.CLASS_ID
		  
	</select>
	
	<select id="findExamsByStudentId" resultType="java.lang.Integer">
		select distinct t.EXAM_ID examId from t_exam_result t where t.STUDENT_ID = #{0}
	</select>
	
	
	
</mapper>