<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzy.pony.mapper.StudentMapper">
	<sql id="base_select">
		select t.STUDENT_ID as studentId,
		t.STUDENT_NO as studentNo,
		t.`NAME`,
		t.SEX,
		t.BIRTHDAY 
		from t_student t left join t_school_class a on t.CLASS_ID = a.CLASS_ID  
		
		
	</sql>
	<select id="findByGradeOrderByStudentId" resultType="com.zzy.pony.model.Student">
		<include refid="base_select"></include>
		where a.GRADE_ID = #{0} and a.year_id = #{1}
		order by t.class_id,t.STUDENT_ID 
	</select>
    <insert id="insertStudentClassRelation">
    	insert into t_student_class_relation (student_id, class_id) 
		SELECT #{0}, #{1} FROM dual 
        WHERE not exists (select 1 from t_student_class_relation t where t.student_id = #{0} and t.class_id=#{1})
    </insert>
    <update id="updateStatusByClass">
    	update t_student set status=#{0} where status=#{1} and class_id=#{2}
    </update>
    <update id="updateClassByClass">
    	update t_student set class_id=#{0} where class_id=#{1}
    </update>
</mapper>