<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzy.pony.mapper.TeacherSubjectMapper">
	<sql id="base_select">
select t.CLASS_ID classId ,a.seq classSeq, t.SUBJECT_ID,b.name subjectName, t.TEACHER_ID teacherId, c.teacher_no teacherNo, c.name teacherName, t.TERM_ID termId,t.TS_ID tsId,t.WEEK_ARRANGE weekArrange,t.YEAR_ID yearId,g.name gradeName from t_teacher_subject t
left join t_school_class a on t.CLASS_ID = a.CLASS_ID 
left join t_grade g on a.grade_id=g.grade_id
left join t_subject b on t.SUBJECT_ID=b.SUBJECT_ID
left join t_teacher c on t.TEACHER_ID=c.TEACHER_ID

	</sql>
	
	<select id="findByCondition" resultType="com.zzy.pony.vo.TeacherSubjectVo">
		<include refid="base_select"></include>
		 where 1=1 
		 <if test=" yearId != null and yearId != 0">
		 	and  t.year_Id=#{yearId}
			 </if>
		 <if test=" termId != null and termId != 0">
		 	and  t.term_Id=#{termId}
		 	</if>
		 <if test=" gradeId != null and gradeId != 0">
		 	and  a.grade_Id=#{gradeId}
		 	</if>
		 <if test=" classId != null and classId != 0">
		 	and  t.class_Id=#{classId}
		 	</if>
		 <if test=" teacherId != null and teacherId != 0">
		 	and  t.TEACHER_ID=#{teacherId}
		 	</if>
		 <if test=" subjectId != null and subjectId != 0">
		 	and  t.SUBJECT_ID=#{subjectId}
		 	</if>			
		 	
	 
	</select>
	
	<select id="findCurrentByGroup" resultType="com.zzy.pony.vo.TeacherSubjectVo">
		
		select t.teacher_id as teacherId ,t.subject_id as subjectId,t.name as subjectName, t.week_arrange as weekArrange from( 
			select t.TEACHER_ID,t.SUBJECT_ID,a.name,t.WEEK_ARRANGE,count(1) as count from t_teacher_subject t
			left join  t_subject a on t.subject_id = a.subject_id
			where 1=1	and  t.WEEK_ARRANGE != null		
			<if test=" yearId != null and yearId != 0">
		 	and  t.year_Id=#{yearId}
			 </if>
		 	<if test=" termId != null and termId != 0">
		 	and  t.term_Id=#{termId}
		 	</if>
		 	<if test="schoolClasses != null">
		 	and  t.CLASS_ID in  
     		<foreach item="item" index="index" collection="schoolClasses" open="(" separator="," close=")">  
     		 #{item}  
     		</foreach> 
		 	</if>
			group by t.TEACHER_ID,t.SUBJECT_ID,a.name,t.WEEK_ARRANGE) t 
			where t.count>1 and t.week_arrange is not null
		 		 
		 
	 
	</select>
	
</mapper>