<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzy.pony.mapper.TeacherSubjectMapper">
	<sql id="base_select">
select t.CLASS_ID classId , t.SUBJECT_ID,b.name subjectName, t.TEACHER_ID teacherId,c.name teacherName, t.TERM_ID termId,t.TS_ID tsId,t.WEEK_ARRANGE weekArrange,t.YEAR_ID yearId from t_teacher_subject t
left join t_school_class a on t.CLASS_ID = a.CLASS_ID 
left join t_subject b on t.SUBJECT_ID=b.SUBJECT_ID
left join t_teacher c on t.TEACHER_ID=c.TEACHER_ID

	</sql>
	
	<select id="findByCondition" resultType="com.zzy.pony.vo.TeacherSubjectVo">
		<include refid="base_select"></include>
		 where 1=1 
		 <if test=" classId != null and classId != 0">
		 	and  t.class_Id=#{classId}
		 </if>
		 <if test=" subjectId != null and subjectId != 0">
		 	and  t.subject_Id=#{subjectId}
		 </if>
		 <if test=" teacherId != null and teacherId != 0">
		 	and  t.teacher_Id=#{teacherId}
		 </if>
		 <if test=" yearId != null and yearId != 0">
		 	and  t.year_Id=#{yearId}
		 </if>
		 <if test=" termId != null and termId != 0">
		 	and  t.term_Id=#{termId}
		 </if>
		 
		 
		 
		 
	</select>
</mapper>