<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzy.pony.exam.mapper.ExamArrangeMapper">
	<select id="timeList" resultType="map">
		SELECT distinct DATE_FORMAT(exam_date,'%Y-%m-%d') examDate,DATE_FORMAT(start_time,'%H:%i') startTime,DATE_FORMAT(end_time,'%H:%i') endTime 
 		FROM t_exam_arrange where exam_id=#{0} order by exam_date,start_time
	</select>
	<insert id="addExamArrange" useGeneratedKeys="true" keyProperty="arrangeId" >
		insert into t_exam_arrange (exam_id,grade_id,subject_id) VALUES (#{0},#{1},#{2})
	</insert>
	<update id="updateExamDate" parameterType="java.util.Map" >
		update t_exam_arrange t set t.exam_date =DATE_FORMAT( #{examDate},'%Y-%m-%d')
		where t.arrange_id in
		<foreach collection="examArrangeIds" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<update id="updateExamTime" parameterType="java.util.Map">
		update t_exam_arrange t set t.start_time =DATE_FORMAT(#{startTime},'%Y-%m-%d %k:%i:%s')  ,t.end_time = DATE_FORMAT(#{endTime},'%Y-%m-%d %k:%i:%s')
		where t.arrange_id in
		<foreach collection="examArrangeIds" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<select id="findByExamAndGrade" resultType="com.zzy.pony.exam.vo.ExamArrangeVo">
		select t.arrange_id as arrangeId,t.exam_id as examId,t.grade_id as gradeId,
		t.subject_id as subjectId,t.group_id as groupId ,t.exam_date as examDate,
		t.start_time as startTime,t.end_time as endTime from t_exam_arrange t
		where t.exam_id = #{0} and t.grade_id =#{1}
	
	</select>
	<select id="findByExamAndGradeAndGroupIsNull" resultType="com.zzy.pony.exam.vo.ExamArrangeVo">
		select t.arrange_id as arrangeId,t.exam_id as examId,t.grade_id as gradeId,
		t.subject_id as subjectId,t.group_id as groupId ,t.exam_date as examDate,
		t.start_time as startTime,t.end_time as endTime from t_exam_arrange t
		where t.exam_id = #{0} and t.grade_id =#{1} and t.group_id is null
	
	</select>
</mapper>